/* Custom font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body,
.polymer2.popup,
#calendarExtensionPopup * {
  font-family: 'Ubuntu', sans-serif
}

/* Hide the follow me thumb */
.share-button,
.share-button-real {
  display: none !important
}

body {
  color: var(--primary-text-color)
}

/* background colors */
#inboxSection app-header-layout::before {
  opacity: 1;
  background-size: cover;
  background-image: url('https://i.ibb.co/RvCvCbw/space-flight-sky-shadow-82966-3840x2160.jpg');
  background-position-x: 50%;
  background-position-y: 50%
}

.mail,
body.popup app-toolbar:not(.accountHeader),
#betaCalendar .fc-month-view .timedEvent .fc-content:hover .fc-title,
app-header,
.fc-unthemed .fc-list-item:hover td,
.label {
  background-color: var(--primary-background-color) !important;
}

.fc-body {
  background-color: var(--main-background-color) !important;
}

/* open email */
.page {
  background-color: var(--main-background-color);
  color: var(--secondary-text-color);
}

#openEmailHeader {
  color: var(--primary-text-color);
}

#replyArea,
replyArea:hover {
  background-color: var(--primary-background-color) !important;
  border: none;
  color: var(--primary-text-color);
}

paper-item:hover,
paper-icon-item:hover,
textarea,
.ui-datepicker,
#skinsDialog .addButton,
#betaCalendar .fc-basic-view .fc-week-number,
#accountAvatars {
  background-color: var(--secondary-background-color) !important;
}

.accountHeader {
  background-color: var(--account-header-background-color) !important;
}

#accountAvatars {
  height: 100vh;
  margin-top: 0;
  padding-top: 2vh;
}

.fc-unthemed .fc-list-heading td {
  background-color: #444;
}

#betaCalendar.highlightWeekends .fc-sat,
#betaCalendar.highlightWeekends .fc-sun {
  background-color: #444a;
}

.fc-unthemed .fc-list-empty,
.fc-day-top {
  background-color: var(--background-color) !important;
}

body {
  background-color: var(--background-color);
}

/* scroll bar */
::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background-color: var(--secondary-background-color);
}

::-webkit-resizer {
  background-color: var(--primary-background-color);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--line-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* text color, boldness, and opacity */
table {
  color: var(--secondary-text-color);
}

#titleLabel,
.accountTitle,
.unreadCount,
.unread,
.labelName {
  color: var(--primary-text-color) !important;
}

#betaCalendar .fc-basic-view .fc-week-number,
#betaCalendar .fc-basic-view .fc-day-number,
#calendarTitle,
.ui-datepicker-title,

body.popup app-toolbar,
.ui-datepicker,
thead,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-empty {
  color: var(--primary-text-color) !important;
  font-weight: 500;
}

.dayOfYear,
#betaCalendar .fc-month-view .timedEvent .fc-time,
#betaCalendar .fc-month-view .timedEvent .fc-title,
#betaCalendar .fc-custom-view .timedEvent .fc-time,
#betaCalendar .fc-custom-view .timedEvent .fc-title,
paper-item:hover,
paper-icon-item:hover,
textarea,
#mainContent,
app-header,
#betaCalendar.highlightPastDays .fc-event.pastEvent .fc-content .fc-time,
#betaCalendar.highlightPastDays .fc-event.pastEvent .fc-content .fc-title,
#betaCalendar .fc-list-item {
  color: var(--secondary-text-color) !important;
  font-weight: 500;
}

html:not(.searchInputVisible) #inboxSection app-header-layout app-toolbar paper-icon-button:not(#menu),
.snippet {
  color: var(--secondary-text-color) !important;
}

#betaCalendar.highlightPastDays .fc-past,
#betaCalendar.highlightPastDays .pastEvent .eventColorIndicator,
#betaCalendar.highlightPastDays .pastEvent .fc-time,
#betaCalendar.highlightPastDays .pastEvent .fc-content .fc-title {
  opacity: 0.5 !important;
}

/* sidebar calendar */
.ui-state-default {
  color: var(--secondary-text-color) !important;
}

.ui-state-default:hover {
  color: var(--secondary-text-color) !important;
}

/* today highlight */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
#betaCalendar .fc-today .fc-day-number {
  background-color: var(--accent-color) !important;
}

.ui-state-highlight:hover,
.ui-widget-content .ui-state-highlight:hover,
.ui-widget-header .ui-state-highlight:hover {
  background-color: var(--primary-color) !important;
}

#betaCalendar th.fc-today,
.agendaDay.today .agendaDateWrapper {
  color: var(--primary-color) !important;
}

/* lines */
textarea,
textarea:focus,
.mail,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead,
.fc-unthemed table,
.fc-view {
  border-color: var(--line-color) !important;
  outline-color: var(--line-color);
}

.separator,
.fc-unthemed .fc-divider {
  background-color: var(--line-color);
}

/* colors */
paper-icon-button,
paper-dialog .buttons paper-icon-button {
  color: var(--accent-color);
  --iron-icon_-_opacity: 0.7;
}

.labelName {
  background-color: var(--accent-color);
}

/* OK button */
paper-button[raised].colored {
  background-color: var(--accent-color) !important;
  color: var(--primary-text-color);
  font-weight: 700;
}

#clickedEventDialog {
  color: var(--primary-text-color)
}

/* links */
a,
a:visited {
  color: var(--primary-color);
}

/* user variables */
* {
  --primary-background-color: #222222b8;
  --secondary-background-color: #000;

  --primary-text-color: #aaaaaa;
  --secondary-text-color: #7d7979;
  --primary-color: #a4a3a3;
  --accent-color: #773cff;
  --line-color: #555555;

  --main-background-color: #222;
  --account-header-background-color: #313335d9;
  --background-color: #00000000;
  --today-color-with-transparency: #3c3f41;
  --today-color-full-transparency: #4440;
}